* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
}
nav{
    width: 71%;
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
.line{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}
.line li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}