* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background-image: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: center left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 75%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
.line{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}
.line li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#hero{
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-image img{
    width: 650px;
    vertical-align: middle;
    
}
.hero-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}
.hero-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}
.btn4{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 17px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    cursor: pointer;
}
.btn5{
    background-color: #ffffff;
    border: #FD6E0A 1px solid;
    color: #FD6E0A;
    padding: 19px 17px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}
#about{
    padding-top: 130px;
    

}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    border-radius: 10px;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-container .info-card{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    line-height: 30px;
    
}
.about-container .info-card .name h4{
    font-size: 18px;
    font-weight: bold;
}
.about-container .info-card .email h4{
    font-size: 18px;
    font-weight:bold
}
.about-container .info-card .date h4{
    font-size: 18px;
    font-weight:bold;
}
.about-container .info-card .from h4{
    font-size: 18px;
    font-weight: bold;
}
.about-container .info-card .name p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .email p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .date p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .from p {
    font-size: 18px;
    color: #757575;
}