* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background-image: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: center left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 75%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
.line{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}
.line li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#hero{
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-image img{
    width: 650px;
    vertical-align: middle;
    
}
.hero-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}
.hero-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}
.btn4 img{
    width: 24px;
    margin-right: 10px;
}
.btn4{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 17px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    cursor: pointer;
}
.btn5 img{
    width: 24px;
    margin-right: 10px;
    
}
.btn5{
    background-color: #ffffff;
    border: #FD6E0A 1px solid;
    color: #FD6E0A;
    padding: 18px 17px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}
#about{
    padding-top: 130px;
    

}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    border-radius: 10px;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#about .about-container .info-card{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    line-height: 30px;
    
}
.about-container .info-card .name h4{
    font-size: 18px;
    font-weight: bold;
}
.about-container .info-card .email h4{
    font-size: 18px;
    font-weight:bold
}
.about-container .info-card .date h4{
    font-size: 18px;
    font-weight:bold;
}
.about-container .info-card .from h4{
    font-size: 18px;
    font-weight: bold;
}
.about-container .info-card .name p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .email p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .date p{
    font-size: 18px;
    color: #757575;
}
.about-container .info-card .from p {
    font-size: 18px;
    color: #757575;
}
#skills{
    padding-top: 130px;
    
}
.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
    
}
.skills-heading{
    text-align:center;
}

.skills-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.skills-heading p{
    max-width: 827px;
    margin: 0 auto;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 50px;
    
}


.skills-box{
    display: flex;
    gap: 24px;
    
}
.skills-card{
    padding: 30px;
    width: 267px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000015;

}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    width: 200px;
}
.skills-card img{
    width: 44px;
    margin-bottom: 30px;
}
#resume{
    padding-top: 130px;
}
.section-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 113px;
}
.resume-container{
    display: flex;
    gap: 71px;
}
.education{
    margin-left: 300px;
    max-width: 511px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
.experience{
    max-width: 511px;
}
.btn0 img {
    width: 24px;
    margin-right: 10px;
}
.btn0{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    font-size: 20PX;
    font-weight: bold;
    padding: 20px 18px;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    
}
